<!-- advisory area start here -->
<div class="advisory-area banner-area">
    <div class="advisory-img banner-img">
        <img src="{{ site.advisory_image  | relative_url }}" alt="banner">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-7">
                <div class="banner-info">
                    <div class="banner-title">
                        <h1>{{ site.advisory_title }}</h1>
                    </div>
                    <div class="banner-content">
                        <P>{{ site.advisory_description }}</P>
                    </div>
                    <div class="banner-btn">
                        <a href="{{ site.advisory_btn_one_link }}" class="btn">{{ site.advisory_btn_one_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- advisory area end here -->