<!-- banner area start here -->
<div id="about" class="banner-area">
    <div class="banner-img">
        <img src="{{ site.banner_image  | relative_url }}" alt="banner">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="banner-info">
                    <div class="banner-title">
                        <h1>{{ site.banner_title }}</h1>
                    </div>
                    <div class="banner-content">
                        <P>{{ site.banner_description }}</P>
                    </div>
                    <div class="banner-btn">
                        <a href="{{ site.banner_btn_one_link }}" class="btn">{{ site.banner_btn_one_text }}</a>
                        <!-- <a href="{{ site.banner_btn_two_link }}" class="btn">{{ site.banner_btn_two_text }}</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126674517-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126674517-1');
</script>

<style type='text/css'>
	.embeddedServiceHelpButton .helpButton .uiButton {
		background-color: #C72D35;
		font-family: "Arial", sans-serif;
	}
	.embeddedServiceHelpButton .helpButton .uiButton:focus {
		outline: 1px solid #C72D35;
	}
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
		embedded_svc.settings.displayHelpButton = true; //Or false
		embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

		//embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
		//embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

		//embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
		//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

		// Settings for Chat
		//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
			// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
			// Returns a valid button ID.
		//};
		//embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
		//embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
		//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

		embedded_svc.settings.enabledFeatures = ['LiveAgent'];
		embedded_svc.settings.entryFeature = 'LiveAgent';

		embedded_svc.init(
			'https://na158.salesforce.com',
			'https://redcanari.force.com/liveAgentSetupFlow',
			gslbBaseURL,
			'00D0b000000DkJm',
			'Web_Inbound_Sales_Team',
			{
				baseLiveAgentContentURL: 'https://c.la3-c2-ia4.salesforceliveagent.com/content',
				deploymentId: '5725a000000c4nM',
				buttonId: '5735a000000c5FD',
				baseLiveAgentURL: 'https://d.la3-c2-ia4.salesforceliveagent.com/chat',
				eswLiveAgentDevName: 'Web_Inbound_Sales_Team',
				isOfflineSupportEnabled: true
			}
		);
	};

	if (!window.embedded_svc) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://na158.salesforce.com/embeddedservice/5.0/esw.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>
<!-- banner area end here -->
