<!-- brands area starts here -->
<section class="bg-brands">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-2 col-sm-6 offset-lg-2">
                <img src="{{ site.brand_image_1  | relative_url }}" alt="Blackhat">
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6">
                <img src="{{ site.brand_image_2  | relative_url }}" alt="PyMiProxy">
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6">
                <img src="{{ site.brand_image_3  | relative_url }}" alt="CanariFramework">
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6">
                <img src="{{ site.brand_image_4  | relative_url }}" alt="Sploitego">
            </div>
        </div>
    </div>
</section>
<!-- brands area ends here -->