<!-- cloud area start here -->
<div class="cloud-area banner-area">
    <div class="cloud-img banner-img">
        <img src="{{ site.cloud_image  | relative_url }}" alt="Cloud Security">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 col-sm-12">
                <div class="banner-info">
                    <div class="banner-title">
                        <h1>{{ site.cloud_title }}</h1>
                    </div>
                    <div class="banner-content">
                        <P>{{ site.cloud_summary }}</P>
                    </div>
                    <div class="banner-btn">
                        <a href="#" class="btn" data-toggle="modal" data-target="{{site.cloud_btn_one_link}}"
                        data-title="{{ site.cloud_title }}" data-body="{{ site.cloud_description }}">{{ site.cloud_btn_one_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cloud area end here -->