<!-- governance area start here -->
<div class="governance-area banner-area">
    <div class="governance-img banner-img">
        <img src="{{ site.governance_image  | relative_url }}" alt="banner">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="banner-info">
                    <div class="banner-title">
                        <h1>{{ site.governance_title }}</h1>
                    </div>
                    <div class="banner-content">
                        <P>{{ site.governance_description }}</P>
                    </div>
                    <div class="banner-btn">
                        <a href="{{ site.governance_btn_one_link }}" class="btn">{{ site.governance_btn_one_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- governance area end here -->