<!-- service_governance area start here -->
<div class="service-governance-area approch-area section">
    <div class="container">
        <div class="row">
            {% for service_governance in site.service_governance %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-approch text-center">
                    <div class="approch-inner">
                        <div class="approcho-info">
                            <div class="approch-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.9 122.9" style="enable-background:new 0 0 122.9 122.9;" xml:space="preserve">
                                    {{ service_governance.svg }}
                                </svg>
                            </div>
                            <div class="approch-title">
                                <h3>{{ service_governance.title }}</h3>
                            </div>
                            <div class="approch-content">
                                <p>{{ service_governance.content }}</p>
                            </div>
                            <div class="approch-btn">
                                <a href="{{ service_governance.url }}"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- service_governance area end here -->