<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="RedCanari Services" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <p>
                    <h3 style="color: #4d4d4d;" class="modal-title" id="exampleModalLabel">RedCanari Services</h3>
                </p>
            </div>
            <p style="padding: 20px 40px 40px 40px;" class="modal-body">

            </p>
        </div>
    </div>
</div>